@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="nav-set" data-flickity='{"prevNextButtons": false,"pageDots": false, "initialIndex": 4,"imagesLoaded": true, "percentPosition": false,"freeScroll": true ,"wrapAround" : true }'>

</div>
