@{
    ViewData["Title"] = "Home Page";
}

@using Core.Models
@model Core.Models.MdlRegisters

<div class="header-Barand">
    <div class="flx-brand">
        <div class="Barand" data-flickity='{ "fade": true, "imagesLoaded": true,"pageDots": false,"autoPlay":5000}'>


            <div class="carousel-cell">


                <img class="carousel-cell-image" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" />
            </div>
            <div class="carousel-cell">


                <img class="carousel-cell-image" src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg" />
            </div>
        </div>


    </div>
</div>


